@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --PRIMARY: #0C0A09; 
  --PRIMARY-HOVER-NAV: #222121;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}
